@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full;
}

@layer base {
  html {
    @apply scroll-smooth font-sans;
  }

  body {
    @apply bg-white text-base text-base-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal;
  }

  h1,
  h2,
  h3 {
    @apply mb-8 font-heading leading-5 tracking-wide;
  }

  h2 {
    @apply text-5xl capitalize text-sky-800/90;
  }

  h3 {
    @apply text-xl;
  }

  h2,
  h3 {
    @apply font-semibold;
  }

  a {
    @apply font-heading text-sky-800/90 outline-none duration-200 ease-in-out;
  }

  section {
    @apply -scroll-mt-12 pb-20 last-of-type:pb-0 sm:-scroll-mt-8;
  }
}

@layer components {
  .container {
    @apply w-[98%] lg:w-full xl:max-w-[1024px] 2xl:max-w-[1024px];
  }
  .themePillBtn {
    @apply my-auto w-fit rounded-full border-2 border-white py-2 font-semibold text-rose-600 hover:bg-rose-800 hover:text-white;
  }
}
