@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full;
}

@layer base {
  html {
    @apply scroll-smooth font-sans;
  }

  body {
    @apply bg-white text-base text-base-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal;
  }

  h1,
  h2,
  h3 {
    @apply mb-8 font-heading leading-5;
  }

  h2 {
    @apply text-5xl capitalize text-sky-800/90;
  }

  h3 {
    @apply text-xl;
  }

  h2,
  h3 {
    @apply font-semibold;
  }

  nav a {
    @apply font-sans font-semibold text-sky-800/90 outline-none duration-200 ease-in-out;
  }

  section {
    @apply -scroll-mt-12 pb-20 last-of-type:pb-0 sm:-scroll-mt-8;
  }
}

@layer components {
  .container {
    @apply w-[98%] lg:w-full xl:max-w-[1024px] 2xl:max-w-[1024px];
  }
  .themePillBtn {
    @apply my-auto w-fit whitespace-nowrap rounded-full border-2 border-white py-2 text-center font-bold text-rose-600 hover:bg-rose-800 hover:text-white sm:text-lg;
  }
}
