@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full;
}

@layer base {
  html {
    @apply scroll-smooth font-sans;
  }

  body {
    @apply bg-white text-base text-base-light-gray;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal;
  }

  h1,
  h2,
  h3 {
    @apply mb-8 font-heading leading-5 tracking-wide;
  }

  h2 {
    @apply text-5xl capitalize text-heading-light-blue;
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply font-heading text-[#1c6a92] outline-none duration-200 ease-in-out;
  }

  section {
    @apply -scroll-my-16 pb-20 sm:-scroll-my-12;
  }
}

@layer components {
  .container {
    @apply w-[98%] lg:w-full xl:max-w-[1024px] 2xl:max-w-[1024px];
  }
}
